.content{
    position: absolute;
    top: 27vh;
    left: 10%;
    width: 50%;
}

.content h1{
    font-size: 60px;
}

.content hr{
    width: 20%;
    margin-top: 30px;
    height: 6px;
    background: black;
}

.content p{
    margin-top: 30px;
    font-size: 20px;
}

.juice_image {
    position: absolute;
    right:0;
}