* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80px;
    background-color: #1f1f1f;
}

.nav_btn{
    background-color: #ffaa00;
    color: white;
    border: none;
    width:110px;
    padding: 12px 0px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.nav_btn:hover {
    background-color:  #c88500;
    transform: scale(1.05);
}

body {
    background-color: #e6e3d8;

}



